<app-header></app-header>
<app-body-animation></app-body-animation>
<div>
    <button mat-raised-button color="primary">About Us</button>
    <mat-divider [vertical]="true"></mat-divider>
    <br>
    <span>
         Edupraeter is an educational platform dedicated for CBSE, ICSE, 
         UP Board and students preparing for UPSC, State PCS, SSC, Bank,
         Railway, Airforce, NDA, CDS, CAPF and Other competitive Examination.<br>
         Edupraeter’s free YouTube channel that aims at paving a strong 
         foundation of History, Polity, Geography, Economic, Science and Current
         Affairs for students from class 6th to graduation aspiring for UPSC and<br>
         other examinations.
    </span>
</div>

