/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0%;
}
.mat-card{
    background:white;
    border-radius: 6px;
    box-shadow:2px 5px 3px #ddd
}
.spacer{
    flex:1;
}
button{
    &.mat-raised-button , &.mat-button {
        &.full-rounded{
            border-radius: 32px;
        }
        &color:brown{
            background-color: white;
        }
    }
}